---
import LanguageSwitcher from './LanguageSwitcher.astro';
import HeaderNavLinks from './HeaderNavLinks.astro';

interface NavItem {
  link: string;
  key: string;
  text: string;
}

interface Props {
  nav: NavItem[];
  customPages: NavItem[];
  i18nEnabled: boolean;
  languages: Record<string, string>;
}

const { nav, customPages, i18nEnabled, languages } = Astro.props;
---

<nav class="hidden md:flex gap-6 items-center">
  <HeaderNavLinks items={nav} mode="desktop" />

  <!-- {customPages && customPages.length > 0 && (
    <HeaderNavLinks items={customPages} mode="desktop" />
  )} -->

  {i18nEnabled && <LanguageSwitcher languages={languages} />}
</nav>
