---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import aboutImage from '../assets/about-us.png';
import TeamCard from '../components/TeamCard.astro';

const team = (await getCollection('team')).sort((a, b) => a.data.weight - b.data.weight);
---

<Layout title="About Us">
  <div class="bg-[#0F0F0F] min-h-screen text-white pb-20">
      <section class="py-24 px-4">
        <div class="max-w-7xl mx-auto">
            <h1 class="text-5xl md:text-6xl font-black text-white text-center mb-16 uppercase tracking-tight glow-orange-lg">Club Organizers</h1>
            
            <div class="grid grid-cols-1 md:grid-cols-3 gap-12 justify-items-center">
                {team.map(member => (
                    <TeamCard member={member} />
                ))}
            </div>
        </div>
      </section>
  </div>
</Layout>
